.contact {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19181a;
  /* color: white; */
  /* color: black; */
}

.wrap {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.contact-text {
  display: inline-block;
  margin: 0 0 5rem 0;
}

.contact-text h1 {
  font-size: 3rem;
  font-weight: 400;
  overflow: hidden;
  border-right: 1px solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.4vw;
  color: white;
  /* letter-spacing: 0.15em; */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.wrap {
  display: flex;
  align-items: center;
}

.contact-center {
  width: 75vw;
  height: 70vh;
  background-image: url('../../assets/keyboard.jpg');
  filter: blur(6px);
  /* -webkit-filter: blur(8px); */
  position: relative;
  z-index: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

form {
  position: absolute;
  width: 50vw;
  height: 50vh;
  /* border: 1px solid white; */
}

.input-group {
  margin-bottom: 3vh;
  position: relative;
}

input,
textarea {
  width: 100%;
  height: 5vh;
  outline: 0;
  /* border: 1px solid white; */
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background: transparent;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

textarea {
  height: 13vh;
  left: 0;
  top: 0;
}

label {
  font-size: 1.3vw;
  font-weight: 600;
  color: white;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  column-rule: white;
  cursor: text;
  transition: 0.2s;
}

button {
  font-size: 1.5vw;
  font-weight: 600;
  padding: 10px 0;
  color: white;
  outline: none;
  background: transparent;
  border: 1px solid white;
  width: 100%;
  cursor: pointer;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 0.9rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row .input-group {
  width: 48%;
}
