/* 475px, 640px, 768px, 1024px, 1280px, 1536px */

.homepage {
  max-width: 100vw;
  color: white;
}

.home-enclose {
  max-width: 100vw;
  position: relative;
}

.home-left {
  height: 30rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-right,
.home-right img {
  position: absolute;
  right: 0;
}

.hello {
  color: #907659;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.home-name {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.home-name span {
  color: #907659;
}

.qualities {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.current {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #b5a896;
}

.buttons {
  display: flex;
}

.button {
  color: white;
  outline: none;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5rem;
  transition: all 0.5s ease;
}

.buttons button a {
  text-decoration: none;
  color: white;
}

.buttons button:hover {
  background-color: #907659;
  border: 1px solid #907659;
}
/* 475px, 640px, 768px, 1024px, 1280px, 1536px */

@media screen and (max-width: 600px) {
  /* phone screen */
  .homepage {
    max-width: 600px;
  }
  .home-right,
  .home-right img {
    width: 30rem;
    height: 30rem;
    z-index: 0;
  }
  .home-left {
    width: 100vw;
    height: 30rem;
    z-index: 1;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hello {
    font-size: 1rem;
    margin: 0 0 -0.3em 2rem;
  }
  .home-name {
    margin: 0 0 0 2rem;
    font-size: 1.9rem;
  }
  .qualities {
    font-size: 1.2rem;
    margin: 0 0 0 2rem;
  }
  .current {
    max-width: 85%;
    font-size: 0.84rem;
    word-spacing: 4px;
    padding: 0.3rem 0;
    margin: 3rem 0 1.5rem 2rem;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    margin: 0 0 0 2rem;
  }
  .button {
    width: 7rem;
    height: 2.5rem;
    font-size: 0.7rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .homepage {
    max-width: 100vw;
  }
  .home-right,
  .home-right img {
    width: 30rem;
    height: 30rem;
    top: 1.5rem;
  }
  .home-left {
    width: 100vw;
    z-index: 1;
    top: 2rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hello {
    font-size: 1.1rem;
    margin: 0 0 -0.3em 2rem;
  }
  .home-name {
    margin: 0 0 0 2rem;
    font-size: 3rem;
  }
  .qualities {
    font-size: 1.3rem;
    margin: 0 0 0 2rem;
  }
  .current {
    width: 30rem;
    font-size: 1.1rem;
    word-spacing: 4px;
    padding: 0.3rem 0;
    margin: 3rem 0 1.5rem 2rem;
  }
  .buttons {
    display: flex;
    gap: 1.5rem;
    margin: 0 0 0 2rem;
  }
  .button {
    width: 9rem;
    height: 2.9rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 900px) {
  .homepage {
    max-width: 100vw;
    height: 200vh;
  }
  .home-right,
  .home-right img {
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 4rem;
  }
  .home-left {
    width: 100vw;
    z-index: 1;
    top: 4rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hello {
    font-size: 1.4rem;
    margin: 0 0 -0.3em 2rem;
  }
  .home-name {
    margin: 0 0 0 2rem;
    font-size: 3.7rem;
  }
  .qualities {
    font-size: 1.5rem;
    margin: 0 0 0 2rem;
  }
  .current {
    width: 35rem;
    font-size: 1.25rem;
    word-spacing: 4px;
    padding: 0.3rem 0;
    margin: 4rem 0 1.5rem 2rem;
  }
  .buttons {
    display: flex;
    gap: 1.5rem;
    margin: 0 0 0 2rem;
  }
  .button {
    width: 9rem;
    height: 2.9rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1280px) {
  .homepage {
    max-width: 100vw;
  }
  .home-right,
  .home-right img {
    width: 40rem;
    height: 40rem;
    top: 1.1rem;
  }
  .home-left {
    width: 60rem;
    z-index: 1;
    top: 5rem;
    left: 0;
  }
  .hello {
    font-size: 1.4rem;
    margin: 0 0 -0.3em 3rem;
  }
  .home-name {
    margin: 0 0 0 3rem;
    font-size: 5rem;
  }
  .qualities {
    font-size: 1.5rem;
    margin: 0 0 0 3rem;
  }
  .current {
    width: 40rem;
    font-size: 1.5rem;
    word-spacing: 5px;
    padding: 0.3rem 0;
    margin: 4rem 0 1.5rem 3rem;
  }
  .buttons {
    /* display: flex; */
    gap: 1.5rem;
    margin: 0 0 0 2rem;
  }
  .button {
    width: 12rem;
    height: 3.2rem;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
