.footer{
    width: 100vw;
    height: 3rem;
    border-top: 1px solid white;
    background-color: #000000;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-link{
    color: white;
    font-size: 1.3rem;
}

.email{
    margin: 0 3rem 0 0;
    letter-spacing: 1px;
}

